@section header
{
    <link rel="stylesheet" type="text/css" href="/assets/stimulsoft.viewer.office2013.whiteblue.css">
    <link rel="stylesheet" type="text/css" href="/assets/app.css" />
}

<div id="appContainer"></div>

@section footer
{
    <script type="text/javascript" src="/assets/stimulsoft.reports.js"></script>
    <script type="text/javascript" src="/assets/stimulsoft.viewer.js"></script>
    <script type="text/javascript" src="/assets/vendor.bundle.js"></script>
    <script type="text/javascript" src="/assets/app.bundle.js"></script>
    <script type="text/javascript">
        window.Stimulsoft.Base.Localization.StiLocalization.setLocalizationFile("/assets/stimulsoft.ru.xml");
    </script>
}